form {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 2%;
    width: 500px;
    margin-left: 400px;
    border-radius: 3%;
  }
  body{ 
  background-image: url("eran-menashri-Ae7pSsfzEHs-unsplash.jpg");
  font-family: sans-serif;
    }  
  
    .img{
        margin-left: 100px;
        height: 100px;
        border-radius: 7px;
        width: 100px;
        margin-top: 15px;
    }
  /* Full-width inputs */
  input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2%;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    border-radius: 2%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  